/* The NAT on VirtualBox hides all public IPs. */
body
{
    background-image: url(http://oskog97.com/ping-anonymine-shellinabox);
    background-reapeat: no-reapeat;
    background-size: cover;
}
/*
Original image:
http://vermaden.deviantart.com/art/FreeBSD-The-Power-To-Serve-82277315
*/
